<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-4">
    <%= form.submit class: 'transition duration-500 px-3 py-2 rounded-md bg-blue-700 text-white cursor-pointer hover:bg-blue-200 hover:text-blue-700' %>
  </div>
<% end %>
