<!DOCTYPE html>
<html>
  <head>
    <title>ChatSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <div class="h-screen bg-blue-50">
      <header class="mb-5 bg-blue-600">
        <div class="p-2 bg-black bg-opacity-75">
          <h1 class="text-lg text-white">Chat Sample</h1>
        </div>
      </header>
      <div class="flex justify-around">
        <div class="w-10/12 p-5 rounded-md bg-white">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
